/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --main-color: #031a32;
    --blue-color: #031a32;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Cairo", sans-serif;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
        }
    }
    /* Medium */
    @media (min-width: 992px) {
    .container {
        width: 970px;
        }
    }
    /* Large */
    @media (min-width: 1200px) {
    .container {
        width: 1170px;
        }
    }
    .main-title {
        text-transform: uppercase;
        margin: 0 auto 80px;
        border: 2px solid black;
        padding: 10px 20px;
        font-size: 30px;
        width: fit-content;
        position: relative;
        z-index: 1;
        transition: var(--main-transition);
    }
    .main-title::before,
    .main-title::after {
        content: "";
        width: 12px;
        height: 12px;
        background-color: var(--main-color);
        position: absolute;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
    }
    .main-title::before {
        left: -30px;
    }
    .main-title::after {
        right: -30px;
    }
    .main-title:hover::before {
        z-index: -1;
        animation: left-move 0.5s linear forwards;
    }
    .main-title:hover::after {
        z-index: -1;
        animation: right-move 0.5s linear forwards;
    }
    .main-title:hover {
        color: white;
        border: 2px solid white;
        transition-delay: 0.5s;
    }
/*start navbar*/
.container .navbar-brand img{
    width: 60%;
}
.navbar .logo{
    color: #e6e6e7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: 50px;
    font-weight: bold;
}
@media (max-width: 767px) {
.navbar .logo {
    width: 100%;
    height: 50px;
    }
}
.navbar{
    background-color:rgb(117 117 117);
}
.navbar .navbar-nav .nav-link{
    color: rgb(255, 255, 255);
    font-size: 19px;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus,
 .navbar-nav .nav-link.active{
    color: var(--blue-color);
}
/*start mega-menu*/
.navbar-collapse{
    position: relative;
}
.navbar-collapse .mega-menu{
    position: absolute;
    width: 100%;
    padding: 30px;
    left: 0;
    background-color: white;
    border-bottom: 3px solid var(--blue-color);
    display: flex;
    gap: 40px;
    top: calc(100% + 40px);
    transition: top var(--main-transition) ,opacity var(--main-transition);
    visibility: hidden;
}
@media(max-width: 767px){
    .navbar-collapse .mega-menu{
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
}
.navbar-collapse .mega-menu .image img{ 
    max-width: 100%;
}
@media(max-width: 991px){
    .navbar-collapse .mega-menu .image{
        display: none;
    }
}
.navbar-collapse .mega-menu .links{
    flex: 1;
    min-width: 250px;
}
.navbar-collapse .mega-menu .links li{
    position: relative;
}
.navbar-collapse .mega-menu .links li:not(:last-child){
    border-bottom: 1px solid #e6e6e7;
}
@media (max-width: 767px) {
    .navbar-collapse .mega-menu .links:first-of-type li:last-child {
        border-bottom: 1px solid #e9e6e6;
    }
}

.navbar-collapse .mega-menu .links li:before{
    position: absolute;
    content: "";
    background-color: #fafafa;
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    transition: var(--main-transition);
}
.navbar-collapse .mega-menu .links li:hover::before{
    width: 100%;
}
.navbar-collapse .mega-menu .links li a{
    color: var(--blue-color);
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding: 13px;
}
.navbar-collapse .mega-menu .links li a i{
    margin-right:10px;
}
.navbar-collapse .navbar-nav > li:hover .mega-menu {
    top: calc(100% + 1px);
    visibility: visible;
}
.navbar-collapse .main-btn {
    color: white;
    background: linear-gradient(to right, var(--blue-color) 50%, var(--blue-color) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
/*End mega-menu*/
/*Start Team*/
.team {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.team .box {
    position: relative;
}
.team .box::before,
.team .box::after {
    content: "";
    background-color: #f3f3f3;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
    transition: var(--main-transition);
}
.team .box::before {
    width: calc(100% - 60px);
    z-index: -2;
}
.team .box::after {
    z-index: -1;
    background-color: #e4e4e4;
    width: 0;
}
.team .box:hover::after {
    width: calc(100% - 60px);
    background-color: var(--main-color);
}
.team .box .data {
    display: flex;
    align-items: center;
    padding-top: 60px;
}
.team .box .data img {
    width: calc(100% - 60px);
    transition: var(--main-transition);
    border-radius: 10px;
}
.team .box:hover img {
    filter: grayscale(100%);
}
.team .box .data .social {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.team .box .data .social a {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.team .box .data .social a:hover i {
    color: #f3f3f3;
}
.team .box .data .social i {
    color: var(--main-color);
    transition: var(--main-transition);
}
.team .box .info {
    padding-left: 80px;
}
.team .box .info h3 {
    margin: 20px;
    color: var(--main-color);
    font-size: 22px;
    transition: var(--main-transition);
}
.team .box .info p {
    margin-top: 10px;
    margin-bottom: 25px;
}
.team .box:hover .info h3 {
    color: #f3f3f3;
}
/*end Team*/
@keyframes right-move {
    50% {
    right: 0;
    width: 12px;
    height: 12px;
    }
    100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
    }
}
@keyframes left-move {
    50% {
    left: 0;
    width: 12px;
    height: 12px;
    }
    100% {
    left: 0;
    border-radius: 0;
    width: 51%;
    height: 100%;
    }
}